@import url('http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900'); /*---- Header Nave ---*/


html, body{

    margin: 0%;
    padding: 0%;
    height: 100;
    width: 100;
}
h2{
    font-family: 'playfailr-display', serif;
    font-size: 200%;
    font-weight: 700%;
    color: #2c2c22;
    text-align: center;
    text-decoration: underline;
}

p {
    font-family: 'Raleway', serif;
    color: #2c2c2c;
    font-size: 140%;
    line-height: 140%;
    text-align: left;
    font-weight: 300%;
    }

img {
    text-align: center;
    max-width: 100%;
    height: 220px;
    width: 350px;
    }
.intro{
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(https://static.pexels.com/photos/248159/pexels-photo-248159.jpeg) no-repeat 50% 50%;
    background-size: cover;
    display: table;
    top: 0;
}

.intro .inner{
display: table-cell;
vertical-align: middle;
width: 100%;
max-width: none;
}
.content{
max-width: 600%;
margin: auto;
}
h1{
    font-family: 'playfaire-display', serif;
    font-size: 300%;
    font-weight: 700;
    color: #FFF;
    text-align: center;
    padding: 12%;
    text-shadow: 0px 0px 250px #000;
    }
.content p {
    color: rgb(204, 216, 36);
    }
.inner{
    max-width: 600%;
    margin: auto;
    font-size: 170%;
    line-height: 1.6;
    padding: 10px;
}

/----------- Start Nave ---------*/
nav{
    float: :left;
    padding: 50% 50% 0 0;
    height: 50px;
}
nav ul {
    list-style: none;
    float: left;
    }
nav ul {
    font-family: 'Raleway', sans-serif;
    font-size: 120%;
    }

  nav ul li a {
    color: #FFF;
    text-decoration: none;
    } 
    nav ul li a:hover{
        text-decoration: underline;
    }
    nav ul, nav:active ul {
        display: none;
        padding: 31px 0;
        left: 10px;
        top: 10px;

    width: 20%;
    z-index: 1000;
    }
    nav li{
        width: 100%;
        padding: 8px 0 10px 40px;
        margin: 0;
        }
    nav:hover ul {
        margin-top: 64px;
        display: block;
        position: absolute;
    }
#menu-icon {
    width: 30px;
    height: 26px;
    background: url('../images/hover.png') center;
    display: inline-block;
    margin: 50px 0 0 50px;
    background-size: 50px 50px;
    padding: 10%;
    }
/*---------- End Nav ----------*/
.left-col {
width: 60%;
float: left;
margin: 4% 0 4% 4%;
}

.sidebar{
    width: 25%;
    float: left;
    margin: 4%;

    }
.one-third-port{
width: 29.333333%;
padding: 2%;
float: left;
}
.one-third-port img:hover {
opacity: .6;
}

.contact p {
    text-align: left;
    font-family: "Times New Roman";
    }
.contact a {
    color: #2c2c2c;
    }
.port {
    clear: left;
    height: 10%;
    }
.parallax {
    background: url(https://scontent.fpnq1-1.fna.fbcdn.net/v/t1.0-9/37161663_1877930308965127_3054052902319423488_n.jpg?_nc_cat=105&_nc_ht=scontent.fpnq1-1.fna&oh=ae38d0ac2e70b3524883b72b5fc60b23&oe=5CB07EBF);
    opacity: 0.4;
}
.parallax-inner {
    padding-top: 50%;
}
.social {
    display: flex;
    list-style-type: none;
    text-align: center;
    position: absolute;
    font-size: 300%;
    margin: 5% 40%;
    color: #2c2c2c;
    }
.social li {
    background: #000;
    list-style: none;
    font-size: 50px;
    transition: .5s;
    margin: 15px;   
}
.social li:hover  {
    transform: translateY(-8px);    
    box-shadow: 0 10px 10px rgba(0,0,0,1);

}
.social li a {
    width: 60px;
    padding: 16px 0;
    color: #fff;
    display: block;
}
.social li:nth-child(1)
{background: #3b5998}
.social li:nth-child(2)
{background: #c32aa3}
.social li:nth-child(3)
{background:#25d366}
.social li:nth-child(4)
{background:#db4437}


.social i:hover{
    color: #606060;
    }

footer.second {
    color: #2c2c2c;
    }
footer.second p {
    color: #FFF;
    text-align: center;
    padding: 5%;
}

@media screen and (max-width: 760px){
    #menu-icon{
        margin: 26px 0 0 26px;  
    }
    nav ul, nav: nav:active ul {
    padding: 8px 0;
    left: 23px;
    top: 34px;
    width: 50%;
    }
    .inner  {
        font-size: 120%;
    }
    .content h1 {
        font-size: 180%;
    }
    p {
        font-size: 120%;
    }
    h2 {
        font-size: 160%;
    }
    .left-col{
        width: 96%;
        margin: 0 0 3% 0;
        padding: 0 0%;
    }
    .sidebar{
        width: 96%;
        margin: 0 auto;
    }
    img{
        padding: 2%;
    }
    .one-third-port{
        width: 96%;
        margin: 0 auto;
        padding: 0;
    }
    .break{
            display: block;
    }
    .parallax{
        display: none;
    }
    .social i {
        font-size: 170%;
    }

}












